# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Vercel
.vercel

# Environment variables (НЕ коммитим!)
.env
.env.local
.env.*.local

# IDE
.cursor/
.vscode/
.idea/
*.swp
*.swo
*~
.pylintrc

# OS
.DS_Store
Thumbs.db

# файлы
database/
todo/
подсказка.txt
prompt_config.sh
prompt_config.txt
spec.md